<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de administradores</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <!-- index_admin.html -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="nav-item nav-link disabled" href="#">Menú</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home</a>
                <a class="nav-item nav-link" href="/index_admin">Panel de administrador<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/logout">Cerrar sesión</a>
                
              </div>
            </div>
          </nav>
        <!-- Bienvenida al Usuario -->
         
        <h3 class="text-left">Bienvenido, {{ session['user'] }}</h3>
        <!-- Opciones para Administrador -->
        <div class="mb-3">
            
            <a href="{{ url_for('crear_usuario') }}" class="btn btn-success">Añadir Nuevo Administrador</a>
         </div>

        <!-- Listado de Usuarios Administradores -->
        <h4 class="mb-3">Usuarios Administradores</h4>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Usuario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for admin in usuarios_admin %}
                <tr>
                    <td>{{ admin.dni }}</td>
                    <td>
                        <a href="{{ url_for('editar_usuario', dni=admin.dni) }}" class="btn btn-warning btn-sm">Editar</a>
                        <form action="{{ url_for('borrar_usuario', dni=admin.dni) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Agrega Firebase SDK -->
    <script src="https://www.gstatic.com/firebasejs/9.1.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.1.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.1.3/firebase-firestore.js"></script>
</body>
</html>
